<a href="https://colab.research.google.com/github/tomcat472/pandas_mm/blob/main/Pandas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sorting

## Import Library and Read file

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd #import library

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv') #reading CSV
df.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

## Sorting

sort ရဲ့ သဘောသဘာဝက character ဆိုရင် A to Z (Ascending) / Z to A (Descending)
မြန်မာစာဆိုရင်လည်း UTF-8 နဲ့ရေးထားတဲ့ font တွေဆိုရင် အက္ခရာစဉ်လို့ရပါတယ်။ မြန်မာစာမှာသင်ခဲ့ရတဲ့ အက္ခရာစဉ်နည်းအတိုင်းဖြစ်ပါတယ်။ ကိန်းဂဏန်းတွေဆိုရင် ကြီးစဉ်ငယ်လိုက်အတိုင်းပဲဖြစ်ပါတယ်။

In [ ]:
#ပထမဆုံးကျွန်တော်တို့ cut column မှာပါတဲ့ စာသားတွေကို sorting လုပ်ရအောင်ဗျာ။
#ကြည့်ရလွယ်အောင် df အသစ်တခုလုပ်ပြီး သူ့ထဲမှာ carat, cut, price, clarity ရယ်ကိုပဲ အဓိကထားလုပ်ရအောင်။
new_df=df[['carat','cut','clarity','price']]
new_df.head(4)

   carat      cut clarity  price
0   0.23    Ideal     SI2    326
1   0.21  Premium     SI1    326
2   0.23     Good     VS1    327
3   0.29  Premium     VS2    334

In [ ]:
new_df.sort_values('cut') #A2Z ပုံစံနဲ့ sort သွားပါတယ်။

       carat        cut clarity  price
3850    1.01       Fair     SI2   3477
51464   1.20       Fair      I1   2376
51466   0.90       Fair     SI2   2376
10237   1.26       Fair     SI2   4746
10760   1.01       Fair     SI1   4853
...      ...        ...     ...    ...
7402    0.33  Very Good     VS2    579
43101   0.57  Very Good     SI2   1384
16893   1.00  Very Good     VS2   6743
16898   1.00  Very Good     VS2   6745
21164   1.00  Very Good    VVS2   9324

[53940 rows x 4 columns]

In [ ]:
new_df.sort_values('cut',ascending=True)
#A2Z sorting လုပ်တာက ascending method ဖြစ်ပြီး ဒီမှာသုံးရင် ascending=True လို့ရေးပေးရပါတယ်။

       carat        cut clarity  price
3850    1.01       Fair     SI2   3477
51464   1.20       Fair      I1   2376
51466   0.90       Fair     SI2   2376
10237   1.26       Fair     SI2   4746
10760   1.01       Fair     SI1   4853
...      ...        ...     ...    ...
7402    0.33  Very Good     VS2    579
43101   0.57  Very Good     SI2   1384
16893   1.00  Very Good     VS2   6743
16898   1.00  Very Good     VS2   6745
21164   1.00  Very Good    VVS2   9324

[53940 rows x 4 columns]

In [ ]:
new_df.sort_values('cut',ascending=False)
# False ဆိုရင် Z2A descending ဖြစ်ပါတယ်။
# တခုသိထားရမှာက sort ထားတဲ့အတိုင်းသုံးချင်ရင် variable ထဲပြန်ပြီး assign လုပ်ဖို့လိုပါတယ်။
# ဆိုလိုတာက new_df=new_df.sort_values('cut',ascending=False)

       carat        cut clarity  price
8748    1.06  Very Good     SI2   4465
23064   1.52  Very Good     VS2  11093
23058   2.20  Very Good     SI2  11088
31236   0.42  Very Good     SI1    756
19154   1.51  Very Good     SI2   7915
...      ...        ...     ...    ...
5595    1.01       Fair     SI1   3869
5594    1.01       Fair     SI1   3869
5585    1.00       Fair     SI2   3864
5576    1.21       Fair     SI2   3862
21921   1.70       Fair     SI2   9996

[53940 rows x 4 columns]

In [ ]:
# ဂဏန်းတွေကို sort လုပ်ရအောင်
new_df.sort_values('price',ascending=False)#ဒါဆိုရင် price column မှာကြီးစဉ်ငယ်လိုက်ထွက်မှာဖြစ်ပါတယ်။

       carat        cut clarity  price
27749   2.29    Premium     VS2  18823
27748   2.00  Very Good     SI1  18818
27747   1.51      Ideal      IF  18806
27746   2.07      Ideal     SI2  18804
27745   2.00  Very Good     SI1  18803
...      ...        ...     ...    ...
4       0.31       Good     SI2    335
3       0.29    Premium     VS2    334
2       0.23       Good     VS1    327
1       0.21    Premium     SI1    326
0       0.23      Ideal     SI2    326

[53940 rows x 4 columns]

### Value(၂)ခုကို sort ခြင်း

In [ ]:
new_df.sort_values(['cut','clarity'])

       carat        cut clarity  price
241     1.01       Fair      I1   2788
369     1.00       Fair      I1   2808
376     1.20       Fair      I1   2809
967     1.19       Fair      I1   2892
1199    1.17       Fair      I1   2935
...      ...        ...     ...    ...
53475   0.70  Very Good    VVS2   2681
53563   0.71  Very Good    VVS2   2695
53667   0.71  Very Good    VVS2   2709
53683   0.58  Very Good    VVS2   2714
53885   0.75  Very Good    VVS2   2749

[53940 rows x 4 columns]

In [ ]:
new_df.sort_values(['carat','clarity'],ascending=False)
# new_df.sort_values(['carat','clarity'],ascending=[False,True])
# new_df.sort_values(['carat','clarity'],ascending=[True,False]) T/F နေရာမှာ 1/0 လည်းသုံးလို့ရပါတယ်။
# excel မှာသုံးသလို သဘောတရားချင်းအတူတူပဲကြောင့် နားလည်မယ်လို့ယူဆပါတယ်။ 😎

       carat        cut clarity  price
27415   5.01       Fair      I1  18018
27630   4.50       Fair      I1  18531
27130   4.13       Fair      I1  17329
25998   4.01    Premium      I1  15223
25999   4.01    Premium      I1  15223
...      ...        ...     ...    ...
31598   0.20  Very Good     VS2    367
31599   0.20      Ideal     VS2    367
31600   0.20    Premium     VS2    367
31601   0.20    Premium     VS2    367
14      0.20    Premium     SI2    345

[53940 rows x 4 columns]

# Iterrows

In [ ]:
# အပေါ်ကနည်းက row ထဲမှာရှိတဲ့ values တွေအားလုံးကို ထုတ်ပေးတယ်။
# for index,row in new_df.iterrows():
#   print(index,row)

# ဒီဟာကကိုယ်ရချင်တဲ့ column က value တွေကို ထုတ်ပေးပါတယ်။
# for index,row in new_df.iterrows():
#   print(index,row['cut'])

# folium လို library မျိုးမှာမှ ဒီနည်းက အသုံးတည့်ပါတယ်။ folium လုပ်ရင် ပြန်ပြောပြပါ့မယ်။

# Summary Statistics

pandas မှာ describe()ကို သုံးပြီး summary တွက်ထုတ်ရင် လွယ်ကူပါတယ်။

In [ ]:
new_df.head()

   carat      cut clarity  price
0   0.23    Ideal     SI2    326
1   0.21  Premium     SI1    326
2   0.23     Good     VS1    327
3   0.29  Premium     VS2    334
4   0.31     Good     SI2    335

In [ ]:
new_df.info()
#dtypes မှာ carat က float64, cut နဲ့ clarity က object, price က int64 ဖြစ်တာကို တွေ့ရတယ်။

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   clarity  53940 non-null  object
 3   price    53940 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.6+ MB

In [ ]:
new_df.describe()
# output မှာက carat နဲ့ price ပဲထွက်လာတာကို တွေ့ရပါတယ်။ 
# ပြီးတော့ ဒီ(၂)ခုဟာလည်း number တွေဖြစ်တာကြောင့် count,mean,percentile လိုအောက်ကဟာတွေကို ဖော်ပြထားဖြစ်ပါတယ်။

              carat         price
count  53940.000000  53940.000000
mean       0.797940   3932.799722
std        0.474011   3989.439738
min        0.200000    326.000000
25%        0.400000    950.000000
50%        0.700000   2401.000000
75%        1.040000   5324.250000
max        5.010000  18823.000000

In [ ]:
new_df.describe(include='all')
# ဒီမှာဆိုရင် အားလုံးရဲ့ summary ကိုတွေ့နိုင်ပြီး object  data types တွေမရနိုင်တဲ့ ဟာကိုတော့ output မထုတ်ပေးပါဘူး

               carat    cut clarity         price
count   53940.000000  53940   53940  53940.000000
unique           NaN      5       8           NaN
top              NaN  Ideal     SI1           NaN
freq             NaN  21551   13065           NaN
mean        0.797940    NaN     NaN   3932.799722
std         0.474011    NaN     NaN   3989.439738
min         0.200000    NaN     NaN    326.000000
25%         0.400000    NaN     NaN    950.000000
50%         0.700000    NaN     NaN   2401.000000
75%         1.040000    NaN     NaN   5324.250000
max         5.010000    NaN     NaN  18823.000000

In [ ]:
new_df.describe(include=[object]) 
# ဒါဆိုရင် obj သီးသန့်ထုတ်ပေးပါတယ်။

          cut clarity
count   53940   53940
unique      5       8
top     Ideal     SI1
freq    21551   13065

In [ ]:
new_df.describe(exclude=[object])
# ဒီမှာဆိုရင် object မပါတဲ့ဟာကိုထုတ်ပေးပါတယ်။

              carat         price
count  53940.000000  53940.000000
mean       0.797940   3932.799722
std        0.474011   3989.439738
min        0.200000    326.000000
25%        0.400000    950.000000
50%        0.700000   2401.000000
75%        1.040000   5324.250000
max        5.010000  18823.000000

In [ ]:
try:
  new_df.describe(include=['category'])
except:
  print("There's no categorical values.")

# ဒီမှာရှိတဲ့ ကျနော်သုံးတဲ့ dataset မှာ category ဖြစ်တာမပါခဲ့တာကြောင့် error မပေးစေချင်ရင် try/except သုံးပြီးလုပ်လို့ရပါတယ်။

There's no categorical values.

In [ ]:
# exclude=['object'] မသုံးဘဲ Number တွေသီးသန့်ပဲထုတ်ချင်ရင် numpy library ကို သုံးပြီး လုပ်လို့ရပါတယ်။
import numpy as np #numpy library အား import လုပ်ခြင်း

# နောက်ပိုင်း function တွေကို သုံးမယ့်အခါမျိုးဆိုရင် numpy က အသုံးဝင်ပါတယ်။ 
new_df.describe(include=[np.number])

              carat         price
count  53940.000000  53940.000000
mean       0.797940   3932.799722
std        0.474011   3989.439738
min        0.200000    326.000000
25%        0.400000    950.000000
50%        0.700000   2401.000000
75%        1.040000   5324.250000
max        5.010000  18823.000000

***ဒီနေ့တော့ ဒီလောက်ပါပဲ။ ***