<a href="https://colab.research.google.com/github/tomcat472/pandas_mm/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Pandas

***Pandas*** ဟာ python မှာ လူသုံးများတဲ့ library ဖြစ်ပြီးတော့ data များကို ကိုင်တွယ်ဆောင်ရွက်ဖို့ အဓိကထားသုံးကြပါတယ်။
ဒါကို အသုံးပြုတော့မယ်ဆိုရင် python ကို intermediate လောက်ရအောင် ဦးစွာလေ့လာရန်လိုအပ်ပါတယ်။
ကျနော်စိတ်ကူးထားတာက pandas,geopandas,folium,earth engine, matplotlib နှင့် seaborn ကို အားလုံးအသုံးပြုနိုင်အောင်လုပ်ဖို့ စိတ်ကူးထားပါတယ်။

pandas ကို ပြန်ဆက်ရမယ်ဆိုရင် pandas မှာ series နှင့် data frame ဆိုပြီး (၂)မျိုးရှိပြီး series သည် one-dimensional ndarray ဖြစ်ကာ data frame သည် two dimensional tabular ပုံစံဖြစ်ပါသည်။
ယခုအကြောင်းအရာများတွင် data frame ကို သာ အဓိကထား၍ အသုံးပြုသွားမည်ဖြစ်ပါသည်။ pandas data frame သည် excel ကဲ့သို့ row,column သဘောတရားတူညီပါသည်။

pandas ကို စတင်အသုံးပြုမည်ဆိုပါက import pandas ဆိုပြီး library ကို
import လုပ်ရပါသည်။ google colab ကဲ့သို့ ipynb များတွင် pandas သည် built-in ပါပြီးသည့်အတွက် install လုပ်ရန် မလိုအပ်တော့ပါ။ ဆက်လက်၍ ပြောရမယ်ဆိုရင် import ခေါ်ပြီး သုံးသောအခါတွင် pandas ဟုဆက်၍ မရေးချင်ပါက pandas ၏ အတိုကောက်အား(**မိမိသုံးချင်သော အမည်လဲသုံးနိုင်သည်။**) import pandas as pd ဟု ရေးသားနိုင်သည်။ as pd ဆိုသည်မှာ အတိုကောက်သုံးမည်ဟု ဖော်ပြခြင်းဖြစ်ပါသည်။

In [ ]:
# pandas အား စတင်အသုံးပြုခြင်း
import pandas as pd

In [ ]:
#pandas version စစ်ဆေးခြင်း
pd.__version__

'1.3.5'

***Pandas*** *အား google colab တွင် အသုံးပြုရာတွင် data file များအား ဖတ်ရန်အတွက် မိမိ၏ google drive အား access ပေးထားရန်လိုအပ်ပါသည်။ အဘယ်ကြောင့်ဆိုသော် google colab သည် online ဖြစ်သဖြင့် မိမိအသုံးပြုမည့် data များအား google drive သို့ upload လုပ်ထားရန်လိုပါတယ်။*

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Pandas သည် excel/csv/sql/json အစရှိသည့် file အမျိုးအစားများစွာတွင် အသုံးပြုနိုင်ပြီး excel file အား သုံးမည်ဆိုပါက pd.read_excel('file.xlsx') ဟုရေးနိုင်ပါသည်။ သို့ရာတွင်လည်း excel extension များစွာရှိသည့်အတွက် xlsx နေရာတွင် မိမိအသုံးပြုသော file extension အား မှန်ကန်စွာထည့်နိုင်ရန်အရေးကြီးပါသည်။ 

ကျန်သောအမျိုးအစားများသည် အောက်ပါကဲ့သို့ဖြစ်ကြပါသည်-

1.   pd.read_csv('file.csv')
2.   pd.read_json('file.json')

## Reading file & Checking Data Frame's types

ခုလုပ်မည့်နေရာမှာ ကျနော်အသုံးပြုသွားမှာက diamond dataset ဖြစ်ပါတယ်။ [diamond_dataset](https://drive.google.com/file/d/1HvWoPOt-8nortVFHhsIT_NEFumYsVqYp/view?usp=sharing) ဆရာတို့/ဆရာမတို့အနေဖြင့် ဒီဟာကို google colab မှာသုံးချင်ရင် မိမိတို့ရဲ့ google drive ထဲ add ထားမှသုံးလို့ရမှာပါ။

In [ ]:
# data file များအား read ခြင်း
df=pd.read_csv('/content/drive/MyDrive/diamonds.csv') #df သည် မိမိ၏ function အား အတိုကောက်သုံးနိုင်ရန်အတွက် variable သတ်မှတ်ခြင်းဖြစ်ပါသည်။
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [ ]:
#Types များအား စစ်ဆေးခြင်း
#ဒီမှာသိထားရမှာက column တိုင်းသည် series များဖြစ်ပြီး df တခုလုံးသည် dataframe ဖြစ်ကြောင်း သိရမှာဖြစ်ပါတယ်။
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df.cut) #type(df['cut'])

pandas.core.series.Series

## Some Useful Functions of Pandas

### head/tail method

df.head()သည် df ၏ အပေါ်ဆုံး row(၅)ခုကိုဖော်ပြပြီး df.tail()သည် df ၏ အောက်ဆုံးrow(၅)ခုကို ဖော်ပြပါသည်။

In [ ]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
df.tail()

       carat        cut color clarity  depth  table  price     x     y     z
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [ ]:
#ထို့အတူ မိမိလိုချင်သော အရေအတွက်ကို () ထဲတွင်ရေး၍လည်း output တောင်းနိုင်ပါသည်။
df.head(3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [ ]:
df.tail(15)

       carat        cut color clarity  depth  table  price     x     y     z
53925   0.79      Ideal     I     SI1   61.6   56.0   2756  5.95  5.97  3.67
53926   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71  5.73  3.54
53927   0.79       Good     F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53928   0.79    Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53929   0.71      Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

### columns/index/shape

In [ ]:
#df.columns သည် columns အားလုံး၏ နာမည်ကို ထုတ်ပေးပါသည်။
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [ ]:
#column တခု၏ တန်ဖိုးများကို ကြည့်ချင်ပါက df.column_name (သို့) df['column_name']
df['carat']

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [ ]:
#column တခု၏ တန်ဖိုးများကို Tabular ပုံစံကြည့်ချင်ပါက df[['column_name']]
df[['carat']]

       carat
0       0.23
1       0.21
2       0.23
3       0.29
4       0.31
...      ...
53935   0.72
53936   0.72
53937   0.70
53938   0.86
53939   0.75

[53940 rows x 1 columns]

In [ ]:
# column (၂) ခုအထက်ကြည့်ချင်ပါက df[['column_name_1','column_name_2',...,column_name_n]]
df[['carat','cut']]

       carat        cut
0       0.23      Ideal
1       0.21    Premium
2       0.23       Good
3       0.29    Premium
4       0.31       Good
...      ...        ...
53935   0.72      Ideal
53936   0.72       Good
53937   0.70  Very Good
53938   0.86    Premium
53939   0.75      Ideal

[53940 rows x 2 columns]

In [ ]:
#df.shape သည် row နဲ့ column အရေအတွက်များကို (number of row,number of column) ပုံစံဖြင့်ဖော်ပြပါသည်။
df.shape

(53940, 10)

In [ ]:
#index method သည် df ၏ index များကို ဖော်ပြပါသည်။
df.index

RangeIndex(start=0, stop=53940, step=1)

### dtypes/info()

In [ ]:
#df.dtypes သည် columns များ၏ values data types များကိုဖော်ပြပါသည်။
#အောက်ဖော်ပြပါ dtypes များတွင် float64 သည် decimal, int64 သည် integer များ/ obj သည် text များဖြစ်သည်ဟု 
# ယျေဘူယျအနေဖြင့်မှတ်ထားသင့်ပြီး ပိုမိုသိရှိလိုပါက google မှာ မိမိဘာသာရှာကြည့်ရန်တိုက်တွန်းပါသည်ဂ
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [ ]:
# df.info() သည်လည်း columns များ၏ information များကို null ဖြစ်/မဖြစ်, dtypes များဖြင့် အောက်ပါအတိုင်းဖော်ပြထားပါသည်။
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

### Others

In [ ]:
df.values
#df.values သည် df ၏ data များအား numpy array အဖြစ်ပြောင်းလဲ အသုံးချရာတွင် သုံးပါသည်။
# df.to_numpy() နှင့် သဘောတရားတူပါတယ်။

array([[0.23, 'Ideal', 'E', ..., 3.95, 3.98, 2.43],
       [0.21, 'Premium', 'E', ..., 3.89, 3.84, 2.31],
       [0.23, 'Good', 'E', ..., 4.05, 4.07, 2.31],
       ...,
       [0.7, 'Very Good', 'D', ..., 5.66, 5.68, 3.56],
       [0.86, 'Premium', 'H', ..., 6.15, 6.12, 3.74],
       [0.75, 'Ideal', 'D', ..., 5.83, 5.87, 3.64]], dtype=object)

In [ ]:
#.agg() method သည် တန်ဘိုးအနည်းအများကို သိချင်ပါက အသုံးပါသည်။ 
#သတိထားရမှာက ဤကဲ့သို့သော method များသည် string(text) များကဲ့သို့ data type များတွင် သုံးလို့မရပါ။
print(df['carat'].agg(max))
print(df['carat'].agg(min))

5.01
0.2

In [ ]:
#စုစုပေါင်းရှာခြင်း
df['price'].sum()

212135217

ဒီနေ့တော့ ဒီလောက်ပါပဲ။ အားတဲ့နေ့တွေဆိုဆက်ပေးပါ့မယ်။
    အချိန်ပေးပြီး ဖတ်ပေးတဲ့အတွက် အားလုံးကို ကျေးဇူးတင်ပါတယ်။